<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DATA SCIENTIST</title>

  <!-- Custom fonts for this theme -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style = "height:75px;">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Shane Hickey</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">PORTFOLIO</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About me</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center" style="background-image: url(../../../staticfiles/img/portfolio/test_background_img_v1.jpg)"; style="width:1200px;height:700px"; "background-position: center center"; "background-repeat:no-repeat";>
    <div class="container d-flex align-items-center flex-column" >



      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="{% static 'img/portfolio/' %}" alt="" style="width:300px;height:255px;">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Data Scientist</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Advanced Analytics - Machine Learning - Data Engineering</p>

    </div>
  </header>

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/airport.jpeg' %}" alt="Airport Analytics and Predictive Modelling" style="width:350px;height:255px;">
          </div>
        </div>


        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/carpark_outdoors.jpg' %}" alt="Carpark Entries & Exits Forecasting" style="width:350px;height:255px;">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/marketing-pic.jpg' %}" alt="Customer Churn Analysis" style="width:350px;height:255px;">
          </div>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/aib.jpeg' %}" alt="AIB HR Analytics" style="width:350px;height:255px;">
          </div>
        </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/nlp.jpeg' %}" alt="Twitter Sentiment Analysis using Machine Learning" style="width:350px;height:255px;">
          </div>
        </div>

        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/sports_betting.jpg' %}" alt="Sports Gambling Analytics & Modelling"; style="width:350px;height:255px;">
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>


  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">About Me</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">I am a freelance data scientist where I specialise in using advanced analytics and machine learning algorithms to make sense
            from substantive amounts of data which can guide decision making and improve business performance. I have experience in airport analytics,
             human resource analytics, natural language processing and churn modelling. In terms of a specific tech stack, I favour Python & SQL/SparkSQL,
            but I am comfortable working in R as well. I also have experience with both AWS & GCP environments.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Previously, I graduated top of my class with a first class honours MSc of Business Analytics from Michael Smurfit Graduate
             Business School. Prior to that, I graduated from UCD with a first class honours BComm degree specialising in Business Analytics and Finance,
              where I was also awarded an academic achievement scholarship in the final year of my undergraduate degree.</p>
        </div>
      </div>

    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container" style= "border-radius: 5px;padding: 20px">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
      <form action="https://formspree.io/xeqknpab" method="POST">
        <label for="fname" style="font-size: 20px">Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." style="
                                                                                     width: 100%;
                                                                                     padding: 12px;
                                                                                     border: 1px solid #ccc;
                                                                                     border-radius: 4px;
                                                                                     box-sizing: border-box;
                                                                                     margin-top: 6px;
                                                                                     margin-bottom: 16px;
                                                                                     resize: vertical">

        <label for="lname" style="font-size: 20px">Email Address</label>
        <input type="text" id="lname" name="lastname" placeholder="Email address.." style="
                                                                                     width: 100%;
                                                                                     padding: 12px;
                                                                                     border: 1px solid #ccc;
                                                                                     border-radius: 4px;
                                                                                     box-sizing: border-box;
                                                                                     margin-top: 6px;
                                                                                     margin-bottom: 16px;
                                                                                     resize: vertical">
       <label for="lname" style="font-size: 20px">Subject</label>
       <input type="text" id="lname" name="subject" placeholder="Subject.." style="
                                                                                    width: 100%;
                                                                                    padding: 12px;
                                                                                    border: 1px solid #ccc;
                                                                                    border-radius: 4px;
                                                                                    box-sizing: border-box;
                                                                                    margin-top: 6px;
                                                                                    margin-bottom: 16px;
                                                                                    resize: vertical">


        <label for="subject" style="font-size: 20px">Message</label>
        <textarea id="subject" name="message" placeholder="Tell me some more about your project.." style="height:200px;
                                                                                     width: 100%;
                                                                                     padding: 12px;
                                                                                     border: 1px solid #ccc;
                                                                                     border-radius: 4px;
                                                                                     box-sizing: border-box;
                                                                                     margin-top: 6px;
                                                                                     margin-bottom: 16px;
                                                                                     resize: vertical"></textarea>

        <input type="submit" value="SUBMIT" style="background-color:#4CAF50;color:white;padding: 12px 20px;
                                                   border: none;border-radius: 4px;cursor: pointer;
                                                   font-size:20px" >
      </form>

    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">Remote Specialist
            <br>Universal</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/shanehickey11/">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.upwork.com/freelancers/~016a525d68df8dd255">
            <i class="fas fa-chalkboard-teacher"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Freelancer</h4>
          <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Shane Hickey 2019</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">On-Time Performance Forecasting</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/inner_airport.jpeg' %}" alt="" style="width:450px;height:250px">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">I am currently working on a project with Dublin Airport to develop machine learning models to forecast the on-time
                performance of departing flights. The intended application of these models is two fold: Firstly, the models will provide insight into
                what the most important factors are impacting on daily level and flight level OTP. Secondly, by tweaking input values to the forecasting model
                it will be possible to carry out scenario testing and what-if analysis for days in advance.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Carpark Time Series Forecasting</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/inner_carpark.png' %}" alt="" style="width:450px;height:250px">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">On a previous project I was tasked with developing a multistep time series forecasting model for carpark entries
                 and exits. The model was developed using historical data and involved intricate feature engineering to accurately forecast entries
                 and exits for the next 48 hours. This allowed the operational staff to develop rosters and schedule breaks more intelligently and reduced
               staffing costs.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Churn Classification Modelling</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/inner_churn.png' %}" alt="" style="width:450px;height:250px">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">I developed a neural network classification model to identify customers likely to churn. As a precursor to the modelling
                work, I carried out a deep dive analysis of the key factors impacting on churn rate and presented the findings to business stakeholders.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">HR Analytics & Attrition Modelling</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/inner_aib.jpeg' %}" alt="" style="width:450px;height:250px">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">While contracted to improve AIB's attrition rate, I developed machine learning models to forecast staff which were
                   likely to leave the company. The benefits of this modelling work were two fold: proactively identify staff likely to leave and attempt
                    to intervene, and statistically understand what the most critical factors are impacting on attrition rate, allowing the business to
                     make more informed strategic decisions to retain employees in the long term.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Social Media Sentiment Analysis Modelling</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/sentiment_analysis.jpeg' %}" alt="" style="width:450px;height:250px">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">I completed a contract in one of Ireland's major banks where I was tasked with building
                  a state of the art sentiment analysis machine learning model to analyse customer sentiment from social media channels towards the brand,
                  allowing the business to pivot away from the traditional paper based surveys. I developed and tested a number of
                  machine learning models such as logistic regression, SVM, MLP neural network and LSTM neural network.
                  The LSTM neural network, as the best performing model, was deployed and a live streaming Tableau dashboard was developed for ease of understanding across the business.
</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Gambling Analytics</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/inner_gambling.jpeg' %}" alt="" style="width:450px;height:250px">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">I've worked on gambling analytics and premier league results prediction as a personal side project over the last number of years. I
                managed to develop forecasting models with levels of accuracy comparable to leading bookmaker, Paddy Power.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>
